# WhatsBro TNService - Environment Variables Template
# Copy this file to '.env' and populate with your own configurations.

# Google Apps Script Web App Deployment Endpoint URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwH9p_4Ap-5JcSYu1Xapmb3sH2YvLU3OifeZgT-TFh81JjedH9psjdxjHAuaxu3U8LO/exec